name: Docker Image Scan

on:
  push:
    branches:
      - main

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        # Replace DOCKER_USERNAME and DOCKER_PASSWORD with your credentials/secrets
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and push Docker image
        # This step builds the image so it's available for scanning
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: FerneyArcila/ec-maven-users-api:latest

      - name: Scan for vulnerabilities
        uses: crazy-max/ghaction-container-scan@v3
        with:
          image: FerneyArcila/ec-maven-users-api:latest
          # Optional: Configure permissions to upload results to GitHub Security
          # permissions: contents: read, security-events: write 

